.btn {
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.btn-edit {
    border-color: #4CAF50;
    background-color: #4CAF50;
}

.btn-delete {
    background-color: #f44336;
    border-color: #f44336;
}